<!-- font-uploader.component.html -->
<div class="font-uploader">
  <h2>Upload Fonts</h2>
  <form>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept=".ttf,.otf"
      multiple
    />

    <!-- <button
      [disabled]="!selectedFiles.length || isLoading"
      (click)="uploadFiles()"
    >
      {{ isLoading ? "Processing..." : "Upload & Process Fonts" }}
    </button> -->
  </form>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <a *ngIf="downloadUrl" [href]="downloadUrl" download="processed_fonts.zip">
    Download Processed Fonts
  </a>
</div>
